@use "../partials/fonts" as *;

// Font
$Lato: "Lato";

// Breakpoints

$tablet-bp: 768px;
$desktop-bp: 1280px;
$xl-desktop-bp: 1920px;

// Common Colors

$black: #000;
$white: #FFF;

// Palette Colors (Taken from https://flatuicolors.com/palette/defo)

