@use "../../Styles/partials/fonts" as *;
@use "../../Styles/partials/mixins" as *;
@use "../../Styles/partials/variables" as *;

.sortField {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @include xl-desktop {
    padding-right: 2.4%;
  }

  &__title {
    padding-right: 3.5%;
    font-family: $Lato;
    font-size: 2rem;
  }

  &__container {
    display: flex;
    width: 100%;
    justify-content: right;
  }

  &__sort-options {
    width: 50%;
    border: 2px solid $black;
    font-family: $Lato;
    height: 25px;
    margin: 0% 1% 0%;

    @include tablet {
      width: 50%;
    }

    @include laptop {
      width: 25%;
    }

    @include desktop {
      width: 20%;
    }

    @include xl-desktop {
      width: 15%;
      margin: 0% 0.2% 0% 1.5%;
    }
  }
}
