@use "../../Styles/partials/fonts" as *;
@use "../../Styles/partials/mixins" as *;
@use "../../Styles/partials/variables" as *;

ul {
  text-decoration: none;
  list-style-type: none;
}

// Styling for Header Mobile

/* Styling for Mobile Header (and Tablet) */

.header-mobile {
  display: flex;
  position: relative;
  width: 100%;
  padding: 1rem 0rem 0rem;
  justify-content: space-between;
  background-color: $white;
  height: 60px;

  @include tablet {
    height: 70px;
  }

  @include desktop {
    display: none;
  }

  &__menu {
    width: 35px;
    height: 35px;
    padding: 0rem 0rem 0rem 1rem;

    @include tablet {
      width: 40px;
      height: 40px;
      padding: 0.3rem 0rem 0rem 1.2rem;
    }
  }

  &__slidingMenu {
    position: fixed;
    top: 0vh;
    z-index: 100;
    background-color: $white;
    width: 88%;
    height: 100vh;
    transition: 0.5s ease transform;

    @include tablet {
      width: 40%;
    }
  }

  &__slidingMenu--cart {
    position: fixed;
    top: 0vh;
    right: 0%;
    z-index: 100;
    background-color: $white;
    width: 88%;
    height: 100vh;
    transition: 0.5s ease transform;

    @include tablet {
      width: 40%;
    }
  }

  &__slidingMenu--closeCart {
    position: fixed;
    top: 0vh;
    right: 0%;
    z-index: 100;
    background-color: $white;
    width: 88%;
    height: 100vh;
    transition: 0.5s ease transform;
    transform: translateX(100%);

    @include tablet {
      width: 40%;
    }
  }

  &__slidingMenu--cartClose-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 78%;
    top: 1.5%;

    @include tablet {
      width: 40px;
      height: 40px;
      padding: 0.3rem 0rem 0rem 1.2rem;
    }
  }

  &__slidingMenu--cartTitle {
    position: absolute;
    top: -0.2%;
    left: 35%;
    font-size: 1.5rem;
    font-family: $Lato;
  }

  &__slidingMenu--close {
    position: fixed;
    top: 0vh;
    z-index: 100;
    background-color: $white;
    width: 88%;
    height: 100vh;
    transition: 0.5s ease transform;
    transform: translateX(-100%);

    @include tablet {
      width: 40%;
    }
  }

  &__slidingMenu--close-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 75%;
    top: 1.5%;

    @include tablet {
      width: 40px;
      height: 40px;
      padding: 0.3rem 0rem 0rem 1.2rem;
    }
  }

  &__slidingMenu--container {
    position: absolute;
    top: 5%;
  }

  &__slidingMenu--banner {
    width: 200px;
    height: 140px;
    position: absolute;
    top: 28%;
    left: 15%;
  }

  &__slidingMenu--banner2 {
    width: 200px;
    height: 140px;
    position: absolute;
    top: 48%;
    left: 15%;
  }

  &__slidingMenu--container2 {
    position: absolute;
    top: 66%;
  }

  &__slidingMenu--link {
    text-decoration: none;
    font-size: 1.5rem;
    color: $black;
    font-family: $Lato;
  }

  &__slidingMenu--link2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: $black;
    font-family: $Lato;
    width: 200px;
  }

  &__slidingMenu--icon {
    height: 20px;
    width: 20px;
  }

  &__slidingMenu--link-text2 {
    margin: 0% 0% 0% 5%;
  }

  &__overlay {
    position: fixed;
    top: 0%;
    z-index: 10;
    background-color: $overlay;
    width: 100%;
    height: 100vh;
    animation: fadeIn 0.1s;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  &__logo {
    position: relative;
    top: -28%;
    width: 110px;
    height: 80px;
    padding: 0rem 0rem 0rem 0.3rem;

    @include tablet {
      top: -57%;
      width: 200px;
      height: 140px;
      padding: 0rem 0rem 0rem 0rem;
    }
  }

  &__options-container {
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0rem 0rem;

    @include tablet {
      width: 80px;
      padding: 0.5rem 1rem 0rem 0rem;
    }
  }

  &__options-search {
    width: 25px;
    height: 25px;

    @include tablet {
      width: 35px;
      height: 35px;
    }
  }

  &__options-search--container {
    position: absolute;
    left: 0%;
    top: 100%;
    width: 100%;
    min-height: 120px;
    background-color: $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    z-index: 100;

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  &__options-search--subContainer {
    position: relative;
    top: 95%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  &__options-search--bar {
    width: 88%;
    height: 30px;
    margin: 0% 0% 5%;
    border: 2px solid $black;

    @include tablet {
      margin: 0%;
      padding: 0;
      width: 70%;
    }

    @include desktop {
      width: 60%;
      height: 40px;
    }
  }

  &__options-search--bar::placeholder {
    font-family: $Lato;
    text-indent: 7px;
    font-size: 0.9rem;
  }

  &__options-search--bar:focus {
    text-indent: 7px;
  }

  &__options-search--bar:focus::placeholder {
    color: transparent;
  }

  &__options-search--button {
    width: 30%;
    height: 35px;
    background-color: $white;
    border: 1px solid black;
    font-family: $Lato;
    font-weight: 700;
    margin: 0% 0% 1%;

    @include tablet {
      height: 34px;
      margin: 0% 2% 0%;
      width: 15%;
    }

    @include desktop {
      width: 15%;
      height: 44px;
    }
  }

  &__options-search--results-title {
    display: flex;
    justify-content: center;
  }

  &__options-search--results {
    margin: 2% 0% 2%;
    display: flex;
    flex-direction: column;

    @include tablet {
      align-items: center;
    }
  }

  &__options-cart {
    width: 25px;
    height: 25px;

    @include tablet {
      width: 35px;
      height: 35px;
    }
  }
}

// Styling for Desktop

.header-desktop {
  display: none;

  @include desktop {
    display: flex;
    height: 140px;
  }

  &__logo {
    @include desktop {
      width: 140px;
      height: 120px;
      position: absolute;
      left: 43%;
      top: -1.5%;
    }
  }

  &__icon-container {
    @include desktop {
      position: absolute;
      left: 86%;
      top: 3.5%;
      width: 200px;
    }

    @include xl-desktop {
      left: 89%;
    }
  }

  &__icon {
    @include desktop {
      width: 30px;
      height: 30px;
      margin: 0% 5% 0%;
    }
  }

  &__options-search--container {
    @include desktop {
      position: absolute;
      left: 0%;
      top: 15%;
      width: 100%;
      min-height: 140px;
      background-color: $grey;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      padding-top: 2rem;
      z-index: 100;
    }
  }

  &__options-search--subContainer {
    @include desktop {
      position: absolute;
      top: 0%;
      width: 100%;
      min-height: 140px;
      background-color: $grey;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      padding-top: 2rem;
    }
  }

  &__options-search--bar {
    @include desktop {
      width: 60%;
      height: 30px;
      border: 2px solid $black;
      margin: 2%;
    }
  }

  &__options-search--bar::placeholder {
    font-family: $Lato;
    text-indent: 7px;
    font-size: 0.9rem;
  }

  &__options-search--bar:focus {
    text-indent: 7px;
  }

  &__options-search--bar:focus::placeholder {
    color: transparent;
  }

  &__options-search--button {
    @include desktop {
      width: 8%;
      height: 44px;
      height: 35px;
      background-color: $white;
      border: 1px solid $black;
      font-family: $Lato;
      font-weight: 700;
      margin: 0% 0% 1%;
    }
  }

  &__options-search--results-title {
    @include desktop {
      position: absolute;
      top: -9%;
      left: 41%;
      font-size: 30px;
      font-family: $Lato;
    }

    @include xl-desktop {
      top: -12%;
    }
  }

  &__options-search--results-noTitle {
    @include desktop {
      position: relative;
      top: -20%;
      left: 0%;
      font-size: 30px;
      font-family: $Lato;
    }
  }

  &__options-search--results {
    @include desktop {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      margin: 7% 0% 5%;
    }
  }

  &__options {
    position: absolute;
    top: 8%;
    left: 25%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include xl-desktop {
      width: 32%;
      left: 28%;
    }
  }

  &__options--link {
    text-decoration: none;
    font-size: 1.2rem;
    color: $black;
    font-family: $Fredoka;
    margin: 0% 15% 0%;
    font-weight: 600;
  }

  &__options-account--dropDown {
    @include desktop {
      position: absolute;
      left: 85.5%;
      top: 7%;
      width: 170px;
      height: 180px;
    }

    @include xl-desktop {
      left: 88.5%;
    }
  }

  &__options-account--list {
    @include desktop {
      position: absolute;
      top: 8%;
      left: 83.7%;
    }

    @include xl-desktop {
      left: 87%;
    }
  }

  &__options-account--link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: $black;
    font-family: $Lato;
    width: 200px;
    margin: 2% 0% 5%;
  }

  &__options-account--icon {
    height: 20px;
    width: 20px;
    margin: 0% 4% 0% 0%;
  }
}
