@use "../../Styles/partials/fonts" as *;
@use "../../Styles/partials/mixins" as *;
@use "../../Styles/partials/variables" as *;

.results-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @include tablet {
        justify-content: space-around;
    }

    @include xl-desktop {
        justify-content: space-between;
    }
  }

  &__page-container {
      width: 100%;
      display: flex;
      justify-content: center;
  }
}
